@use "sass:map";

@use "../_global-mixins" as *;

$table-wysiwyg-options: (
    "header-font-styles": null,
    "body-font-styles": null,
    "caption": null,
    "margin-bottom": null,
    "header-cells-padding": null,
    "body-cells-padding": null,
    "header-border": null,
    "header-background": null,
    "body-border": null,
    "body-background": null,
    "odd-rows-background": null,
    "odd-rows-text-color": null,
);

@mixin block-table-wp() {
    .wp-block-table,
    table {
        width: 100%;
        text-align: left;
        margin: 0;
        border: none;
        padding: 0px;
        border-spacing: 0;
        border-collapse: collapse;

        thead,
        tfoot {
            border: none;
        }

        td { //* all rows
            margin: 0px;
        }
    }
}

@mixin block-table-wp-modifier($options) {
    .wp-block-table,
    table {
        @each $property, $value in $options {
            @if map.has-key($table-wysiwyg-options, $property) {
                @if $value {
                    @if $property == "header-font-styles" {
                        thead tr { //* first row
                            th {
                                @include make-font-wysiwyg-options($options: $value);
                            }
                        }
                    }
                    @else if $property == "header-cells-padding" {
                        thead tr { //* first row
                            th {
                                padding: $value;
                            }
                        }
                    }
                    @else if $property == "header-border" {
                        thead tr {
                            th {
                                @include make-border-wysiwyg-options($options: $value);
                            }
                        }
                    }
                    @else if $property == "header-background" {
                        thead tr {
                            background: $value;
                        }
                    }
                    @else if $property == "body-font-styles" {
                        td { //* all rows
                            @include make-font-wysiwyg-options($options: $value);
                        }
                    }
                    @else if $property == "body-cells-padding" {
                        td { //* all rows
                            padding: $value;
                        }
                    }
                    @else if $property == "body-border" {
                        td {
                            @include make-border-wysiwyg-options($options: $value);
                        }
                    }
                    @else if $property == "body-background" {
                        tbody tr {
                            background: $value;
                        }
                    }
                    @else if $property == "odd-rows-background" {
                        tbody tr:nth-child(odd) {
                            background: $value;
                        }
                    }
                    @else if $property == "odd-rows-text-color" {
                        tbody tr:nth-child(odd) td {
                            color: $value;
                        }
                    }
                    @else if $property == "caption" {
                        figcaption {
                            @include make-font-wysiwyg-options($options: $value);
                        }
                    }
                    @else {
                        #{$property}: $value;
                    }
                }
            }
        }
    }
}
