$video-wysiwyg-options: (
    "margin-bottom": null,
);

@mixin block-video-wp() {
    .wp-block-embed,
    .wp-block-video {
        width: 100%;
        margin: 0 auto;
        .wp-block-embed__wrapper {
            iframe {
                aspect-ratio: 16 / 9;
                width: 100%;
                height: auto;
            }
        }
        video {
            width: 100%;
            display: block;
        }
    }
}

@mixin block-video-wp-modifier($options) {
    @include make-media-wysiwyg-options($options, $platform: wp, $media-type: "video");
}