$columns-wysiwyg-options: (
    "margin-bottom": null,
    "breakpoint": null,
);

@mixin block-columns-wp() {
    .wp-block-columns{
        display: flex;
    }
}

@mixin block-columns-wp-modifier($options) {
    @each $property, $value in $options {
        @if map-has-key($columns-wysiwyg-options, $property) {
            @if $value {
                @if $property == "breakpoint" {
                    .wp-block-columns {
                        @media all and ($viewport-type: $value) {
                            flex-wrap: wrap !important;
                        }
                        .wp-block-column {
                            @media all and ($viewport-type: $value) {
                                flex-basis: 100% !important;
                            }
                        }
                    }
                }
                @else {
                    .wp-block-columns {
                        #{$property}: $value;
                    }
                }
            }
        }
    }
}