$video-wysiwyg-options: (
    "margin-bottom": null,
);

@mixin block-video-wp() {
    .wp-block-embed,
    .wp-block-video {
        width: 100%;
        margin: 0 auto;
        .wp-block-embed__wrapper {
            iframe {
                aspect-ratio: 16 / 9;
                width: 100%;
                height: auto;
            }
        }
        video {
            width: 100%;
        }
    }
}

@mixin block-video-wp-modifier($options) {
    .wp-block-embed,
    .wp-block-video {
        @each $property, $value in $options {
            @if map-has-key($video-wysiwyg-options, $property) {
                @if $value {
                    #{$property}: $value;
                }
            }
        }
    }
}