@mixin make-404-options() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    *[class$="__wrapper"] {
        @extend .#{$g-container-class};
    }
    *[class$="__content"] {
        @if $g-viewport-type == "max-width" {
            width: 66.6667%;
            padding: $g-measure * 15 0;
            @media all and ($g-viewport-type: $error-404-spaces-breakpoint) {
                padding: $measure * 10 0;
            }
        } @else if $g-viewport-type == "min-width" {
            width: 100%;
            padding: $measure * 10 0;
    
            @media all and ($g-viewport-type: $error-404-spaces-breakpoint) {
                padding: $g-measure * 15 0;
            }
        }
    }
}

@mixin make-404-modifier-options($options) {
    $error-404-options: (
        "align": null,
        "min-height": null,
        "top-extra-space": null,
        "breakpoint-bigger-columns": null,
        "breakpoint-full-width": null,
    );

    @each $property, $value in $options {
        @if map-has-key($error-404-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        *[class$="__content"] {
                            margin-left: 0;
                            margin-right: auto;
                        }
                        *[class*="__media"] {
                            margin-left: 0;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-start;
                        }
                    }
                    @if $value == "center" {
                        text-align: center;
                        *[class$="__content"] {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        *[class*="__media"] {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: center;
                        }
                    }
                    @if $value == "right" {
                        text-align: right;
                        *[class$="__content"] {
                            margin-left: auto;
                            margin-right: 0;
                        }
                        *[class*="__media"] {
                            margin-left: auto;
                            margin-right: 0;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-end;
                        }
                    }
                } @else if $property == "top-extra-space" {
                    padding-top: $value;
                } @else if $property == "breakpoint-full-width" {
                    @media all and ($g-viewport-type: $value) {
                        @if $g-viewport-type == "max-width" {
                            width: 100% !important;
                        } @else if $g-viewport-type == "min-width" {
                            width: 83.3333%;
                        }
                    }
                } @else if $property == "breakpoint-bigger-columns" {
                    @media all and ($g-viewport-type: $value) {
                        @if $g-viewport-type == "max-width" {
                            width: 83.3333%;
                        } @else if $g-viewport-type == "min-width" {
                            width: 66.6667%;
                        }
                    }
                } @else {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-404-item-list-options($gap: $error-404-item-list-gap) {
    @include make-list-options($gap: $gap);
}

@mixin make-404-item-list-modifier-options($options) {
    @include make-list-modifier-options($options: $options);
}
