@mixin make-banner-options() {
    width: 100%;
    display: block;
    text-decoration: none;
    position: relative;
    *[class$="__wrapper"] {
        @extend .#{$g-container-class};
    }
}

@mixin make-banner-modifier-options($options) {
    $hero-options: (
        "align": null,
        "min-height": null,
        "close-icon": null
    );

    @each $property, $value in $options {
        @if map-has-key($hero-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        *[class$="__wrapper"] {
                            justify-content: flex-start;
                        }
                    }
                    @if $value == "center" {
                        text-align: center;
                        *[class$="__wrapper"] {
                            justify-content: center;
                        }
                    }
                    @if $value == "right" {
                        text-align: right;
                        *[class$="__wrapper"] {
                            justify-content: flex-end;
                        }
                    }
                } @else if $property == "close-icon" {
                    @if $value == "yes" {
                        *[class$="__icon"] {
                            display: block;
                            position: absolute !important;
                            top: $g-measure;
                            right: $g-measure;
                        }
                    } @else if $value == "no" {
                        *[class$="__icon"] {
                            display: none;
                        }
                    }
                } @else {
                    #{$property}: $value;
                }
            }
        }
    }
}