@mixin make-hero-options($has-columns: "no", $ft-bg-items: "no") {
    width: 100%;
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    @if $ft-bg-items == "yes" {
        &__bg-items {
            position: absolute !important;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        &__ft-items {
            position: relative;
            z-index: 1;
            width: 100%;
        }
    }
    @if $has-columns == "no" {
        *[class$="__wrapper"] {
            @extend .#{$g-container-class};
        }
    }
}

@mixin make-hero-modifier-options($options) {
    $hero-options: (
        "align": null,
        "min-height": null,
        "top-extra-space": null,
        "back-items": null,
        "breakpoint-bigger-columns": null,
        "breakpoint-full-width": null,
    );

    @each $property, $value in $options {
        @if map-has-key($hero-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        *[class$="__content"] {
                            margin-left: 0;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-start;
                        }
                    }
                    @if $value == "center" {
                        text-align: center;
                        *[class$="__content"] {
                            margin-left: auto;
                            margin-right: auto;
                        }
                        *[class$="__list-group"] {
                            justify-content: center;
                        }
                    }
                    @if $value == "right" {
                        text-align: right;
                        *[class$="__content"] {
                            margin-left: auto;
                            margin-right: 0;
                        }
                        *[class$="__list-group"] {
                            justify-content: flex-end;
                        }
                    }
                } @else if $property == "top-extra-space" {
                    padding-top: $value;
                } @else if $property != "back-items" and $property != "breakpoint-bigger-columns" and $property != "breakpoint-full-width" {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-hero-item-list-options($gap: $hero-item-list-gap) {
    @include make-list-options($gap: $gap);
}

@mixin make-hero-item-list-modifier-options($options) {
    @include make-list-modifier-options($options: $options);
}
