@mixin make-layout-options($display: block, $has-columns: no) {
    width: 100%;
    display: $display;
    &__wrapper {
        @extend .#{$g-container-class};
        display: flex;
        flex-wrap: wrap;
        @if $has-columns == yes {
            @if $g-viewport-type == "min-width" {
                row-gap: $g-measure * 5;
            }
            &__media-wrapper {
                position: relative;
                display: flex;
                @if $g-viewport-type == "max-width" {
                    width: calc((100% / 12) * 5);
                }
                @else if $g-viewport-type == "min-width" {
                    width: 100%;
                }
                &__media {
                    width: 100%;
                    display: block;
                    @if $g-viewport-type == "max-width" {
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                @if $g-viewport-type == "max-width" {
                    width: calc((100% / 12) * 5);
                    margin: 0 calc((100% / 12) * 1);
                }
                @else if $g-viewport-type == "min-width" {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        @else if $has-columns == no {
            &__content {
                @if $g-viewport-type == "max-width" {
                    width: calc((100% / 12) * 8);
                }
                @else if $g-viewport-type == "min-width" {
                    width: 100%;
                }
            }
        }
    }
}

$layout-options: (
    "align": null,
    "img-sticky": null,
    "align-media-text": null,
    "min-height": null,
    "breakpoint-bigger-columns": null,
    "breakpoint-full-width": null,
);

@mixin make-layout-modifier-options($options, $has-columns: no) {
    @each $property, $value in $options {
        @if map-has-key($layout-options, $property) {
            @if $value {
                @if $property == "align" {
                    @if $value == "left" {
                        text-align: left;
                        *[class$="__list-group"] {
                            justify-content: flex-start;
                        }
                        @if $has-columns == no {
                            *[class$="__wrapper"] {
                                justify-content: flex-start;
                            }
                        }
                    }
                    @else if $value == "center" {
                        text-align: center;
                        *[class$="__list-group"] {
                            justify-content: center;
                        }
                        @if $has-columns == no {
                            *[class$="__wrapper"] {
                                justify-content: center;
                            }
                        }
                    }
                    @else if $value == "right" {
                        text-align: right;
                        *[class$="__list-group"] {
                            justify-content: flex-end;
                        }
                        @if $has-columns == no {
                            *[class$="__wrapper"] {
                                justify-content: flex-end;
                            }
                        }
                    }
                }
                @else if $property == "breakpoint-full-width" {
                    @if $has-columns == yes {
                        @if $g-viewport-type == "min-width" {
                            @media all and ($g-viewport-type: $value) {
                                *[class$="__wrapper"] {
                                    row-gap: 0;
                                    column-gap: calc((100% / 12) * 1);
                                }
                                *[class$="__content"] {
                                    width: calc(((100% / 12) * 6));
                                    padding: $g-measure * 5 0;
                                    margin: 0;
                                    @media all and ($g-viewport-type: $layout-spaces-breakpoint) {
                                        padding: $g-measure * 7 0;
                                    }
                                }
                                *[class$="__media-wrapper"] {
                                    width: calc(((100% / 12) * 5));
                                }
                                *[class$="__media"] {
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                        @else if $g-viewport-type == "max-width" {
                            @media all and ($g-viewport-type: $value) {
                                *[class$="__wrapper"] {
                                    column-gap: 0;
                                    row-gap: $g-measure * 5;
                                }
                                *[class$="__media-wrapper"] {
                                    width: 100%;
                                }
                                *[class$="__content"] {
                                    width: 100%;
                                    margin: 0;
                                    padding: 0 0;
                                }
                                *[class$="__media"] {
                                    position: relative;
                                    top: auto;
                                    left: auto;
                                }
                            }
                        }
                    }
                    @else if $has-columns == no {
                        @if $g-viewport-type == "min-width" {
                            @media all and ($g-viewport-type: $value) {
                                *[class$="__content"] {
                                    width: calc(((100% / 12) * 10));
                                }
                            }
                        }
                        @else if $g-viewport-type == "max-width" {
                            @media all and ($g-viewport-type: $value) {
                                *[class$="__content"] {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                @else if $property == "breakpoint-bigger-columns" {
                    @media all and ($g-viewport-type: $value) {
                        @if $has-columns == yes {
                            @if $g-viewport-type == "max-width" {
                                *[class$="__wrapper"] {
                                    row-gap: 0;
                                    column-gap: calc((100% / 12) * 1);
                                }
                                *[class$="__content"] {
                                    width: calc(((100% / 12) * 6));
                                    margin: 0;
                                }
                            }
                            @else if $g-viewport-type == "min-width" {
                                *[class$="__wrapper"] {
                                    row-gap: 0;
                                    column-gap: 0 !important;
                                }
                                *[class$="__content"] {
                                    width: calc((100% / 12) * 5) !important;
                                    margin: 0 calc((100% / 12) * 1) !important;
                                }
                                *[class$="__media-wrapper"] {
                                    width: calc(((100% / 12) * 5));
                                }
                            }
                        }
                        @else if $has-columns == no {
                            @if $g-viewport-type == "max-width" {
                                *[class$="__content"] {
                                    width: calc(((100% / 12) * 10));
                                }
                            }
                            @else if $g-viewport-type == "min-width" {
                                *[class$="__content"] {
                                    width: calc((100% / 12) * 8) !important;
                                }
                            }
                        }
                    }
                }
                @else if $property == "align-media-text" {
                    @if $value == "top" {
                        *[class$="__media-wrapper"] {
                            align-items: flex-start;
                        }
                        *[class$="__media"] {
                            position: relative;
                        }
                        *[class$="__content"] {
                            justify-content: flex-start;
                        }
                    }
                    @else if $value == "center" {
                        *[class$="__media-wrapper"] {
                            align-items: center;
                        }
                        *[class$="__media"] {
                            position: relative;
                        }
                        *[class$="__content"] {
                            justify-content: center;
                        }
                    }
                    @else if $value == "bottom" {
                        *[class$="__media-wrapper"] {
                            align-items: flex-end;
                        }
                        *[class$="__media"] {
                            position: relative;
                        }
                        *[class$="__content"] {
                            justify-content: flex-end;
                        }
                    }
                }
                @else if $property == "img-sticky" {
                    @if type-of($value) == number {
                        *[class$="__media"] {
                            position: sticky;
                            top: $value;
                        }
                    }
                    @else if $value == "no" {
                        *[class$="__media"] {
                            position: relative;
                            top: auto;
                        }
                    }
                    @else {
                        @error 'If you want the media to be sticky, you should set the "top value" for the media. To override it, use "initial".';
                    }
                }
                @else {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-layout-item-list-options($gap: $layout-item-list-gap) {
    @include make-list-options($gap: $gap);
}

@mixin make-layout-item-list-modifier-options($options) {
    @include make-list-modifier-options($options: $options);
}