@mixin make-subscribe-options($hubspot: "no") {
    width: 100%;
    @if $hubspot == "yes" {
        .hs-form {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            column-gap: $g-measure * 2;
            position: relative;
            .hs-form-field {
                margin-bottom: $form-margin-bottom;
                min-width: 50%;
                position: relative;
                @if $g-viewport-type == "min-width" {
                    width: 100%;
                }
                label {
                    margin-bottom: $g-measure;
                    display: block;
                    span {
                    }
                }
                .input {
                    input {
                        display: block;
                        padding: $input-padding;
                        width: 100%;
                        transition: border-color $g-transition-duration $g-transition-timing-function;
                    }
                }
                .hs-error-msgs {
                    position: absolute;
                    top: calc(100% + #{$g-measure * 0.5});
                    left: 0;
                    width: 100%;
                    li {
                        label {
                            margin-bottom: 0;
                        }
                    }
                    & + .hs-error-msgs {
                        display: none;
                    }
                }
                &.hs-recaptcha {
                    width: 100%;
                    @if $g-viewport-type == "max-width" {
                        order: 1;
                        margin-bottom: 0;
                    } @else if $g-viewport-type == "min-width" {
                        order: 0;
                        margin-bottom: $g-measure;
                    }
                }
            }
            .hs_error_rollup {
                display: none;
            }
            .hs-submit {
                @if $g-viewport-type == "max-width" {
                    width: auto;
                    margin-bottom: $form-margin-bottom;
                } @else if $g-viewport-type == "min-width" {
                    width: 100%;
                    margin-bottom: 0;
                }
                .actions {
                    .hs-button {
                    }
                }
            }
        }
    }
}


$subscribe-options: (
    "breakpoint": null,
    "btn-class": null,
    "btn-width": null,
    "btn-min-height": null,
    "input-min-height": null,
);

@mixin make-subscribe-modifier-options($options, $hubspot: "no") {
    @each $property, $value in $options {
        @if map-has-key($subscribe-options, $property) {
            @if $value {
                @if $hubspot == "yes" {
                    @if $property == "breakpoint" {
                        .hs-form {
                            .hs-form-field {
                                @media all and ($viewport-type: $value) {
                                    @if $g-viewport-type == "max-width" {
                                        width: 100%;
                                        &.hs-recaptcha {
                                            order: 0;
                                            margin-bottom: $g-measure;
                                        }
                                    } @else if $g-viewport-type == "min-width" {
                                        width: auto;
                                        &.hs-recaptcha {
                                            order: 1;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                            .hs-submit {
                                @media all and ($viewport-type: $value) {
                                    @if $g-viewport-type == "max-width" {
                                        width: 100%;
                                        margin-bottom: 0;
                                    } @else if $g-viewport-type == "min-width" {
                                        width: auto;
                                        margin-bottom: $g-measure;
                                    }
                                }
                            }
                        }
                    }
                    @else if $property == "btn-class" {
                        .hs-form {
                            .hs-submit {
                                .actions {
                                    .hs-button {
                                        @if type-of($value) == list {
                                            @each $class in $value {
                                                @extend .#{$class};
                                            }
                                        } @else {
                                            @extend .#{$value};
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @else if $property == "btn-min-height" {
                        .hs-form {
                            .hs-submit {
                                .actions {
                                    .hs-button {
                                        min-height: $value;
                                    }
                                }
                            }
                        }
                    }
                    @else if $property == "btn-width" {
                        .hs-form {
                            .hs-form-field {
                                width: calc(100% - #{$g-measure * 2} - #{$value});
                            }
                            .hs-submit {
                                .actions {
                                    .hs-button {
                                        width: $value;
                                    }
                                }
                            }
                        }
                    }
                    @else if $property == "input-min-height" {
                        .hs-form {
                            .hs-form-field {
                                .input {
                                    input {
                                        min-height: $value;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}