$display-properties:(
  block: block,
  // hidden:hidden,
  none:none,
  inline-block:inline-block,
  // inline:inline,
  // table:table,
  // table-cell:table-cell,
  // table-row:table-row,
  flex:flex,
  grid:grid,
  // inline-flex:inline-flex
);
@mixin display-alignment($display-prop,$breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $name, $property in $display-prop {
        .u--display-#{$name}{
          display:$property;
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $display-prop {
          .u--display-#{$breakpoint-name}-#{$name}{
            display:$property;
          }
        }
      }
    }
  }
}

@include display-alignment($display-properties,$breakpoints-grid)