$wrap-properties:(
  wrap: wrap,
);
@mixin wrap-alignment($wrap-prop,$breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $name, $property in $wrap-prop {
        .u--flex-wrap-#{$name}{
          flex-wrap:$property;
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $wrap-prop {
          .u--flex-wrap-#{$breakpoint-name}-#{$name}{
            flex-wrap:$property;
          }
        }
      }
    }
  }
}

@include wrap-alignment($wrap-properties,$breakpoints-grid)