$text-properties: (
    // thin: 100,
    // extralight: 200,
    // light: 300,
    regular: 400,
    medium: 500,
    // semibold: 600,
    bold: 700,
    //extrabold: 800,
    // black: 900,
);
  
  @mixin text-alignment($text-prop, $breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
      @if ($breakpoint-value == 0) {
        @each $name, $property in $text-prop {
          .u--font--#{$name} {
            font-weight: $property;
          }
        }
      } @else {
        @media screen and ($viewport-type: $breakpoint-value) {
          @each $name, $property in $text-prop {
            .u--font--#{$breakpoint-name}-#{$name} {
              font-weight: $property;
            }
          }
        }
      }
    }
  }
  
  @include text-alignment($text-properties, $breakpoints-grid);