$justify-properties:(
  space-between: space-between,
  space-around:space-around,
  // space-evenly:space-evenly,
  flex-start:flex-start,
  flex-end:flex-end,
  center:center
);

@mixin flex-justifycontent($justify-prop,$breakpoints){
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @if($breakpoint-value == 0) {
      @each $name, $property in $justify-prop {
        .u--justify-content-#{$name}{
            justify-content:$property;
        }
      }
    }@else{
      @media screen and ($viewport-type: $breakpoint-value) {
        @each $name, $property in $justify-prop {
            .u--justify-content-#{$breakpoint-name}-#{$name}{
                justify-content:$property;
            }
        }
      }
    }
  }
}

@include flex-justifycontent($justify-properties,$breakpoints-grid)