$text-properties:(
  left: left,
  center:center,
  right:right,
  justify:justify
);

@mixin text-alignment($text-prop,$breakpoints){
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @if($breakpoint-value == 0) {
          @each $name, $property in $text-prop {
              .u--text-#{$name}{
                  text-align:$property;
              }
          }
        }@else{
          @media screen and ($viewport-type: $breakpoint-value) {
              @each $name, $property in $text-prop {
                .u--text-#{$breakpoint-name}-#{$name}{
                    text-align:$property;
                }
              }
          }
        }
    }
}

@include text-alignment($text-properties,$breakpoints-grid)

