@use "sass:map";
@use "@scss/framework/foundation/_foundation.scss";
@use "@scss/framework/_var/_vars.scss" as *;
.c--content-a {
  @include make-content();
  @include make-content-modifier(
    $headings-options: (
      // "h1": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*3,
      //   "padding-top": $measure*5,
      //   "text-align": center,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),
      "h2":
        (
          //   "className": f--font-a,
          //   "color": #638c1d,
          //   "font-family": arial,
          //   "font-size": 2rem,
          //   "font-style": italic,
          //   "font-weight": 400,
          //   "letter-spacing": 1px,
          //   "line-height": 1.5,
          //   "max-lines": 3,
          //   "text-decoration": underline,
          //   "text-decoration-color": #000000,
          //   "text-underline-position": under,
          "margin-bottom": $measure * 3,
          "padding-top": $measure * 5,
          //   "text-align": center,
          //   "margin-bottom-before-lists": 24px,
          //   "bold-font-weight": 800,
        ),
      "h3": (
        //   "className": f--font-a,
        //   "color": #638c1d,
        //   "font-family": arial,
        //   "font-size": 2rem,
        //   "font-style": italic,
        //   "font-weight": 400,
        //   "letter-spacing": 1px,
        //   "line-height": 1.5,
        //   "max-lines": 3,
        //   "text-decoration": underline,
        //   "text-decoration-color": #000000,
        //   "text-underline-position": under,
        "margin-bottom": $measure * 3,
        "padding-top": $measure * 5,
        //   "text-align": center,
        //   "margin-bottom-before-lists": 24px,
        //   "bold-font-weight": 800,
      ),
      "h4": (
        //   "className": f--font-a,
        //   "color": #638c1d,
        //   "font-family": arial,
        //   "font-size": 2rem,
        //   "font-style": italic,
        //   "font-weight": 400,
        //   "letter-spacing": 1px,
        //   "line-height": 1.5,
        //   "max-lines": 3,
        //   "text-decoration": underline,
        //   "text-decoration-color": #000000,
        //   "text-underline-position": under,
        "margin-bottom": $measure * 2,
        "padding-top": $measure * 5,
        //   "text-align": center,
        //   "margin-bottom-before-lists": 24px,
        //   "bold-font-weight": 800,
      ),
      "h5": (
        //   "className": f--font-a,
        //   "color": #638c1d,
        //   "font-family": arial,
        //   "font-size": 2rem,
        //   "font-style": italic,
        //   "font-weight": 400,
        //   "letter-spacing": 1px,
        //   "line-height": 1.5,
        //   "max-lines": 3,
        //   "text-decoration": underline,
        //   "text-decoration-color": #000000,
        //   "text-underline-position": under,
        "margin-bottom": $measure * 2,
        "padding-top": $measure * 5,
        //   "text-align": center,
        //   "margin-bottom-before-lists": 24px,
        //   "bold-font-weight": 800,
      ),
      "h6": (
        //   "className": f--font-a,
        //   "color": #638c1d,
        //   "font-family": arial,
        //   "font-size": 2rem,
        //   "font-style": italic,
        //   "font-weight": 400,
        //   "letter-spacing": 1px,
        //   "line-height": 1.5,
        //   "max-lines": 3,
        //   "text-decoration": underline,
        //   "text-decoration-color": #000000,
        //   "text-underline-position": under,
        "margin-bottom": $measure,
        "padding-top": $measure * 5,
        //   "text-align": center,
        //   "margin-bottom-before-lists": 24px,
        //   "bold-font-weight": 800,
      ),
    ),
    $image-options: (
      // "border-color": red,
      // "border-radius": 20px,
      // "border-style": solid,
      // "border-width": 2px,
      // "object-fit": cover,
      // "max-height": 700px,
      // "min-height": 0,
      // "object-position": center,
      // "max-width": 100%,
      // "min-width": 30px,
      "margin-bottom": $measure * 5,
      "caption": (
        // "className": f--font-a,
        // "color": #638c1d,
        // "font-family": arial,
        // "font-size": 2rem,
        // "font-style": italic,
        // "font-weight": 400,
        // "letter-spacing": 1px,
        // "line-height": 1.5,
        // "max-lines": 3,
        // "text-decoration": underline,
        // "text-decoration-color": #000000,
        // "text-underline-position": under,
        // "margin-bottom": $measure*2,
        "padding-top": $measure * 2,
        "text-align": right,
        // "margin-bottom-before-lists": 24px,
        // "bold-font-weight": 800,
      ),
    ),
    $link-options: (
      // "className": g--link-01 g--link-01--second,
    ),
    $lists-options: (
      // "number-font": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*2,
      //   "padding-top": $measure*2,
      //   "text-align": right,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),
      // "first-number-width": 14px,
      // "first-level-number-color": map.get($color-options, d),
      // "first-level-artwork-width": 8px,
      // "first-level-artwork-top": 8px,
      // "first-level-artwork-image": '(../img/artwork.png)',
      // "first-level-artwork-background": map.get($color-options, d),
      // "first-level-artwork-border-radius": 50%,
      // "first-level-artwork-border-width": 1px,
      // "first-level-artwork-border-color": map.get($color-options, d),
      // "second-level-number-color": map.get($color-options, d),
      // "second-level-artwork-width": 8px,
      // "second-level-artwork-top": 8px,
      // "second-level-artwork-image": '(../img/artwork.png)',
      // "second-level-artwork-background": map.get($color-options, d),
      // "second-level-artwork-border-radius": 50%,
      // "second-level-artwork-border-width": 1px,
      // "second-level-artwork-border-color": map.get($color-options, d),
      // "third-level-number-color": map.get($color-options, d),
      // "third-level-artwork-width": 8px,
      // "third-level-artwork-top": 8px,
      // "third-level-artwork-image": '(../img/artwork.png)',
      // "third-level-artwork-background": map.get($color-options, d),
      // "third-level-artwork-border-radius": 50%,
      // "third-level-artwork-border-width": 1px,
      // "third-level-artwork-border-color": map.get($color-options, d),
      "margin-bottom": $measure * 4,
      "font-styles": (
        // "className": f--font-a,
        // "color": #638c1d,
        // "font-family": arial,
        // "font-size": 2rem,
        // "font-style": italic,
        // "font-weight": 400,
        // "letter-spacing": 1px,
        // "line-height": 1.5,
        // "max-lines": 3,
        // "text-decoration": underline,
        // "text-decoration-color": #000000,
        // "text-underline-position": under,
        "margin-bottom": $measure * 2,
        // "padding-top": $measure*2,
        // "text-align": right,
        // "margin-bottom-before-lists": 24px,
        // "bold-font-weight": 800,
      ),
    ),
    $paragraphs-options: (
      // "className": f--font-a,
      // "color": #638c1d,
      // "font-family": arial,
      // "font-size": 2rem,
      // "font-style": italic,
      // "font-weight": 400,
      // "letter-spacing": 1px,
      // "line-height": 1.5,
      // "max-lines": 3,
      // "text-decoration": underline,
      // "text-decoration-color": #000000,
      // "text-underline-position": under,
      "margin-bottom": $measure * 4,
      // "padding-top": $measure*2,
      // "text-align": right,
      "margin-bottom-before-lists": $measure * 3,
      // "bold-font-weight": 800,
    ),
    $quote-options: (
      "padding": $measure * 3 0,
      "margin-top": $measure * 5,
      "margin-bottom": $measure * 6,
      // "border": (
      //   "border-color": red,
      //   "border-radius": 0,
      //   "border-style": solid,
      //   "border-width": 2px 0,
      // ),
      // "paragraph": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*2,
      //   "padding-top": $measure*2,
      //   "text-align": right,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),
      "cite":
        (
          // "className": f--font-a,
          // "color": #638c1d,
          // "font-family": arial,
          // "font-size": 2rem,
          // "font-style": italic,
          // "font-weight": 400,
          // "letter-spacing": 1px,
          // "line-height": 1.5,
          // "max-lines": 3,
          // "text-decoration": underline,
          // "text-decoration-color": #000000,
          // "text-underline-position": under,
          // "margin-bottom": $measure*2,
          "padding-top": $measure * 3,
          // "text-align": right,
          // "margin-bottom-before-lists": 24px,
          // "bold-font-weight": 800,,,,
        ),
    ),
    $footnote-options: (
      // "className": f--font-a,
      // "color": #638c1d,
      // "font-family": arial,
      // "font-size": 2rem,
      // "font-style": italic,
      // "font-weight": 400,
      // "letter-spacing": 1px,
      // "line-height": 1.5,
      // "max-lines": 3,
      // "text-decoration": underline,
      // "text-decoration-color": #000000,
      // "text-underline-position": under,
      "margin-bottom": $measure * 2,
      // "padding-top": $measure*2,
      // "text-align": right,
      // "margin-bottom-before-lists": 24px,
      // "bold-font-weight": 800,,,,
    ),
    $highlighted-options: (
      // "className": f--font-a,
      // "color": #638c1d,
      // "font-family": arial,
      // "font-size": 2rem,
      // "font-style": italic,
      // "font-weight": 400,
      // "letter-spacing": 1px,
      // "line-height": 1.5,
      // "max-lines": 3,
      // "text-decoration": underline,
      // "text-decoration-color": #000000,
      // "text-underline-position": under,
      "margin-bottom": $measure * 4,
      // "padding-top": $measure*2,
      // "text-align": right,
      // "margin-bottom-before-lists": 24px,
      // "bold-font-weight": 800,,,,
    ),
    $btn-options: (
      // "className": g--btn-01,
      "margin-bottom": $measure * 4,
    ),
    $columns-options: (
      "breakpoint": $tablets,
      "margin-bottom": $measure * 4,
    ),
    $separator-options: (
      "margin": $measure * 6 auto,
      // "width": 60%,
      // "color": orange,
      // "height": 2px,,,,
    ),
    $table-options: (
      "margin-bottom": $measure * 4,
      "header-cells-padding": $measure * 2,
      "body-cells-padding": $measure $measure * 2,
      // "header-font-styles": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*2,
      //   "padding-top": $measure*2,
      //   "text-align": right,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),
      // "header-border": (
      //   "border-radius": 1px,
      //   "border-width": 1px,
      //   "border-style": solid,
      //   "border-color": map.get($color-options, a)
      // ),
      // "header-background": map.get($color-options, a),
      // "body-font-styles": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*2,
      //   "padding-top": $measure*2,
      //   "text-align": right,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),
      // "body-border": (
      //   "border-radius": 1px,
      //   "border-width": 1px,
      //   "border-style": solid,
      //   "border-color": map.get($color-options, a)
      // ),
      // "body-background": map.get($color-options, a),
      // "odd-rows-background": map.get($color-options, c),
      // "odd-rows-text-color": map.get($color-options, d),
      // "caption": (
      //   "className": f--font-a,
      //   "color": #638c1d,
      //   "font-family": arial,
      //   "font-size": 2rem,
      //   "font-style": italic,
      //   "font-weight": 400,
      //   "letter-spacing": 1px,
      //   "line-height": 1.5,
      //   "max-lines": 3,
      //   "text-decoration": underline,
      //   "text-decoration-color": #000000,
      //   "text-underline-position": under,
      //   "margin-bottom": $measure*2,
      "padding-top": $measure * 2,
      "text-align": right,
      //   "margin-bottom-before-lists": 24px,
      //   "bold-font-weight": 800,
      // ),,,,
    ),
    $video-options: (
      // "border-color": red,
      // "border-radius": 20px,
      // "border-style": solid,
      // "border-width": 2px,
      // "object-fit": cover,
      // "max-height": 700px,
      // "min-height": 0,
      // "object-position": center,
      // "max-width": 100%,
      // "min-width": 30px,
      "margin-bottom": $measure * 5,
      "caption": (
        // "className": f--font-a,
        // "color": #638c1d,
        // "font-family": arial,
        // "font-size": 2rem,
        // "font-style": italic,
        // "font-weight": 400,
        // "letter-spacing": 1px,
        // "line-height": 1.5,
        // "max-lines": 3,
        // "text-decoration": underline,
        // "text-decoration-color": #000000,
        // "text-underline-position": under,
        // "margin-bottom": $measure*2,
        "padding-top": $measure * 2,
        "text-align": right,
        // "margin-bottom-before-lists": 24px,
        // "bold-font-weight": 800,
      ),
    ),
    $utilities-options: (
      "media-text-aligned-margin-x": $measure * 5,
    )
  );
}
