//* Global Mixins
@use "sass:map";
@use "sass:list";

@use "./_global-mixins/blocks/content" as *;
@use "./_global-mixins/properties/custom" as *;

$wysiwyg-measure: .5rem;

@mixin make-content($btn-options: ()) {
  //* btn

  //* columns

  //* footnote

  //* highlighted

  //* image
  @include block-image-sanity();

  //* quote

  //* separator

  //* headings

  //* link

  //* paragraphs
  @include paragraphs-wysiwyg();

  //* lists
  @include lists-wysiwyg-sanity();

  //* video

  //* table

  //* utilities

  & > h1:first-child,
  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child,
  & > h6:first-child,
  & > p:first-child {
    padding-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }
}

@mixin make-content-modifier(
  $btn-options: (),
  $columns-options: (),
  $footnote-options: (),
  $highlighted-options: (),
  $image-options: (),
  $quote-options: (),
  $separator-options: (),
  $headings-options: (),
  $link-options: (),
  $paragraphs-options: (),
  $lists-options: (),
  $video-options: (),
  $table-options: (),
  $utilities-options: (),
  $custom-options: ()
) {
  //* btn
  @if list.length(map.keys($btn-options)) > 0 {
    @error "Sanity doesn't support button styles";
  }

  //* columns
  @if list.length(map.keys($columns-options)) > 0 {
    @error "Sanity doesn't support columns styles";
  }

  //* footnote
  @if list.length(map.keys($footnote-options)) > 0 {
    @error "Sanity doesn't support footnote styles";
  }

  //* highlighted
  @if list.length(map.keys($highlighted-options)) > 0 {
    @error "Sanity doesn't support highlighted styles";
  }

  //* image
  @include block-image-sanity-modifier($options: $image-options);
  @if list.length(map.keys($image-options)) > 0 {
    @if map.get($image-options, "margin-bottom") == null {
      figure {
        margin-bottom: $wysiwyg-measure * 5;
      }
    }
  }

  //* quote
  @include block-quote-sanity-modifier($options: $quote-options);
  @if list.length(map.keys($quote-options)) > 0 {
    @if map.get($quote-options, "padding") == null {
      blockquote {
        padding: $wysiwyg-measure * 3 0;
      }
    }
    @if map.get($quote-options, "margin-top") == null {
      blockquote {
        margin-top: $wysiwyg-measure * 5;
      }
    }
    @if map.get($quote-options, "margin-bottom") == null {
      blockquote {
        margin-top: $wysiwyg-measure * 6;
      }
    }
  }

  //* separator
  @if list.length(map.keys($separator-options)) > 0 {
    @error "Sanity doesn't support separator styles";
  }

  //* headings
  @include headings-sanity-modifier($options: $headings-options);

  //* link
  @include block-link-wysiwyg-modifier($options: $link-options);

  //* paragraphs
  @include paragraphs-wysiwyg-sanity-modifier($options: $paragraphs-options);

  //* lists
  @include lists-wysiwyg-sanity-modifier($options: $lists-options);

  //* video
  @if list.length(map.keys($video-options)) > 0 {
    @error "Sanity doesn't support video styles";
  }

  //* table
  @if list.length(map.keys($table-options)) > 0 {
    @error "Sanity doesn't support table styles";
  }

  //* utilities
  @if list.length(map.keys($utilities-options)) > 0 {
    @error "Sanity doesn't support utilities styles";
  }

  //* custom
  @include make-custom-wysiwyg-options($options: $custom-options);
}
