@use "sass:map";
@use "sass:list";
//* Global Mixins
@forward "./_global-mixins/blocks/content";
@use "./_global-mixins/blocks/content" as *;
@use "./_global-mixins/properties/custom" as *;

$wysiwyg-measure: .5rem;

@mixin make-content($btn-options: ()) {
  //* btn

  //* columns
  @include block-columns-wp();

  //* footnote

  //* highlighted

  //* image
  @include block-image-wp();

  //* quote
  @include block-quote-wp();

  //* separator
  @include block-separator-wp();

  //* headings

  //* link

  //* paragraphs
  @include paragraphs-wysiwyg();

  //* lists
  @include lists-wysiwyg-wp();

  //* video
  @include block-video-wp();

  //* table
  @include block-table-wp();

  //* utilities
  @include utilities-wp();

  & > h1:first-child,
  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child,
  & > h6:first-child,
  & > p:first-child {
    padding-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }
}

@mixin make-content-modifier(
  $btn-options: (),
  $columns-options: (),
  $footnote-options: (),
  $highlighted-options: (),
  $image-options: (),
  $quote-options: (),
  $separator-options: (),
  $headings-options: (),
  $link-options: (),
  $paragraphs-options: (),
  $lists-options: (),
  $video-options: (),
  $table-options: (),
  $utilities-options: (),
  $custom-options: ()
) {
  //* btn
  @include block-btn-wp-modifier($options: $btn-options);
  @if list.length(map.keys($btn-options)) > 0 {
    @if map.get($btn-options, "margin-bottom") == null {
      .wp-block-buttons,
      .wp-block-button {
        margin-bottom: $wysiwyg-measure * 4;
      }
    }
  }

  //* columns
  @include block-columns-wp-modifier($options: $columns-options);
  @if list.length(map.keys($columns-options)) > 0 {
    @if map.get($columns-options, "margin-bottom") == null {
      .wp-block-columns {
        margin-bottom: $wysiwyg-measure * 4;
      }
    }
    @if map.get($columns-options, "breakpoint") == null {
      .wp-block-columns {
        .wp-block-column {
          @media all and ($viewport-type: $tablets) {
            flex-basis: 100% !important;
            flex-wrap: wrap !important;
          }
        }
      }
    }
  }

  //* footnote
  @include block-footnote-wp-modifier($options: $footnote-options);
  @if list.length(map.keys($footnote-options)) > 0 {
    @if map.get($footnote-options, "margin-bottom") == null {
      .footnote {
        margin-bottom: $wysiwyg-measure * 2;
      }
    }
  }

  //* highlighted
  @include block-highlighted-wp-modifier($options: $highlighted-options);
  @if list.length(map.keys($highlighted-options)) > 0 {
    @if map.get($highlighted-options, "margin-bottom") == null {
      .highlighted {
        margin-bottom: $wysiwyg-measure * 4;
      }
    }
  }

  //* image
  @include block-image-wp-modifier($options: $image-options);
  @if list.length(map.keys($image-options)) > 0 {
    @if map.get($image-options, "margin-bottom") == null {
      figure.wp-block-image {
        margin-bottom: $wysiwyg-measure * 5;
      }
      div.wp-block-image {
        figure {
          margin-bottom: $wysiwyg-measure * 5;
        }
      }
      *[class^="wp-block"] {
        img {
          margin-bottom: $wysiwyg-measure * 5;
        }
      }
      > p {
        > img {
          margin-bottom: $wysiwyg-measure * 5;
        }
      }
    }
  }

  //* quote
  @include block-quote-wp-modifier($options: $quote-options);
  @if list.length(map.keys($quote-options)) > 0 {
    @if map.get($quote-options, "padding") == null {
      .wp-block-quote,
      blockquote {
        padding: $wysiwyg-measure * 3 0;
      }
    }
    @if map.get($quote-options, "margin-top") == null {
      .wp-block-quote,
      blockquote {
        margin-top: $wysiwyg-measure * 5;
      }
    }
    @if map.get($quote-options, "margin-bottom") == null {
      .wp-block-quote,
      blockquote {
        margin-top: $wysiwyg-measure * 6;
      }
    }
    @if map.get($quote-options, "cite") == null {
      cite {
        margin-top: $wysiwyg-measure * 3;
      }
    }
  }

  //* separator
  @include block-separator-wp-modifier($options: $separator-options);
  @if list.length(map.keys($separator-options)) > 0 {
    @if map.get($separator-options, "margin") == null {
      .wp-block-separator {
        margin: $wysiwyg-measure * 6 0;
      }
    }
  }

  //* headings
  @include headings-wp-modifier($options: $headings-options);

  //* link
  @include block-link-wysiwyg-modifier($options: $link-options);

  //* paragraphs
  @include paragraphs-wysiwyg-wp-modifier($options: $paragraphs-options);

  //* lists
  @include lists-wysiwyg-wp-modifier($options: $lists-options);

  //* video
  @include block-video-wp-modifier($options: $video-options);
  @if list.length(map.keys($video-options)) > 0 {
    @if map.get($video-options, "margin-bottom") == null {
      .wp-block-embed {
        margin-bottom: $wysiwyg-measure * 5;
      }
    }
  }

  //* table
  @include block-table-wp-modifier($options: $table-options);

  //* utilities
  @include utilities-wp-modifier($options: $utilities-options);
  @if list.length(map.keys($utilities-options)) > 0 {
    @if map.get($utilities-options, "media-text-aligned-margin-x") == null {
      *.alignleft {
        margin-right: $wysiwyg-measure * 5;
      }
      *.alignright {
        margin-left: $wysiwyg-measure * 5;
      }
    }
  }

  //* custom
  @include make-custom-wysiwyg-options($options: $custom-options);
}
