$hover-media-options: (
    "background-color": null,
    "background-image": null,
    "background-position": null,
    "background-size": null,
    "background-overlay": null,
    "border-color": null,
    "border-radius": null,
    "border-width": null,
    "box-shadow": null,
    "transform": null,
);

$overlay-bg-options: (
    "background-class": null,
    "background-color": null,
    "background-image": null,
    "background-repeat": null,
    "background-size": null,
    "background-position": null,
);

@mixin make-hover-media-interaction($options, $wrapper-border: "no") {
    @each $property, $value in $options {
        @if map-has-key($hover-media-options, $property) {
            @if $property == "background-overlay" {
                &::before {
                    @each $overlay-options, $overlay-value in $value {
                        @if map-has-key($overlay-bg-options, $overlay-options) {
                            #{$overlay-options}: $overlay-value;
                        }
                    }
                }
            } @else if $property == "transform" {
                &__media {
                    #{$property}: $value;
                }
            } @else if
                $property ==
                "background-color" or
                $property ==
                "background-image" or
                $property ==
                "background-position" or
                $property ==
                "background-size"
            {
                #{$property}: $value;
            } @else {
                @if $wrapper-border == "no" {
                    @if $value {
                        &__media {
                            #{$property}: $value;
                        }
                    }
                } @else if $wrapper-border == "yes" {
                    @if $value {
                        #{$property}: $value;
                    }
                }
            }
        }
    }
}

@mixin make-hover-media-transition($options, $wrapper-border: "no") {
    $hover-transition-list: ();
    $hover-media-transition-list: ();
    $hover-overlay-transition-list: ();
    @each $property, $value in $options {
        @if map-has-key($hover-media-options, $property) {
            @if $property == "background-overlay" {
                &::before {
                    @each $overlay-options, $overlay-value in $value {
                        $transition: unquote(
                            "#{$overlay-options} #{$g-transition-duration} #{$g-transition-timing-function}"
                        );
                        $hover-overlay-transition-list: append(
                            $hover-overlay-transition-list,
                            $transition,
                            $separator: comma
                        );
                    }
                }
            } @else if $property == "transform" {
                @if $value {
                    $transition: unquote(
                        "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                    );
                    $hover-media-transition-list: append(
                        $hover-media-transition-list,
                        $transition,
                        $separator: comma
                    );
                }
            } @else if
                $property ==
                "background-color" or
                $property ==
                "background-image" or
                $property ==
                "background-position" or
                $property ==
                "background-size"
            {
                @if $value {
                    $transition: unquote(
                        "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                    );
                    $hover-transition-list: append(
                        $hover-transition-list,
                        $transition,
                        $separator: comma
                    );
                }
            } @else {
                @if $wrapper-border == "no" {
                    @if $value {
                        $transition: unquote(
                            "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                        );
                        $hover-media-transition-list: append(
                            $hover-media-transition-list,
                            $transition,
                            $separator: comma
                        );
                    }
                } @else if $wrapper-border == "yes" {
                    @if $value {
                        $transition: unquote(
                            "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                        );
                        $hover-transition-list: append(
                            $hover-transition-list,
                            $transition,
                            $separator: comma
                        );
                    }
                }
            }
        }
    }
    @if $options != () {
        @if $hover-transition-list != () {
            transition: $hover-transition-list;
        }
        @if $hover-overlay-transition-list != () {
            &::before {
                transition: $hover-overlay-transition-list;
            }
        }
        @if $hover-media-transition-list != () {
            &__media {
                transition: $hover-media-transition-list;
            }
        }
    }
}
