$hover-interactive-component-options: (
    "background-color": null,
    "background-image": null,
    "background-position": null,
    "background-size": null,
    "border-color": null,
    "border-radius": null,
    "border-width": null,
    "box-shadow": null,
    "color": null,
    "fill": null,
    "stroke": null,
    "icon-transform": null,
    "transform": null,
    "text-decoration-color": null,
    "opacity": null,
);

@mixin make-hover-interactive-component-interaction($options) {
    @each $property, $value in $options {
        @if map-has-key($hover-interactive-component-options, $property) {
            @if $value {
                @if $property == "fill" or $property == "stroke" {
                    svg {
                        * {
                            #{$property}: $value;
                        }
                    }
                } @else if $property == "icon-transform" {
                    svg {
                        transform: $value;
                    }
                } @else {
                    #{$property}: $value;
                }
            }
        }
    }
}

@mixin make-hover-interactive-component-transition($options) {
    $hover-transition-list: ();
    $hover-svg-transition-list: ();
    @each $property, $value in $options {
        @if map-has-key($hover-interactive-component-options, $property) {
            @if $value {
                @if $property == "fill" or $property == "stroke" {
                    svg {
                        * {
                            $transition: unquote(
                                "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                            );
                            $hover-svg-transition-list: append(
                                $hover-svg-transition-list,
                                $transition,
                                $separator: comma
                            );
                        }
                    }
                } @else if $property == "icon-transform" {
                    svg {
                        transition: transform
                            #{$g-transition-duration}
                            #{$g-transition-timing-function};
                    }
                } @else {
                    $transition: unquote(
                        "#{$property} #{$g-transition-duration} #{$g-transition-timing-function}"
                    );
                    $hover-transition-list: append(
                        $hover-transition-list,
                        $transition,
                        $separator: comma
                    );
                }
            }
        }
    }
    @if $options != () {
        @if $hover-svg-transition-list != () {
            * {
                transition: $hover-svg-transition-list;
            }
        }
        @if $hover-transition-list != () {
            transition: $hover-transition-list;
        }
    }
}
