@mixin make-list-options($gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}

@mixin make-list-modifier-options($options) {
    @each $value, $item-options in $options {
        @if $value {
            @if $value == "aligned-at-bottom" {
                @if $item-options == "yes" {
                    margin-top: auto;
                }
                @else if $item-options == "no" {
                    margin-top: 0;
                }
            }
            @else if $value == "first" {
                & > *:first-child {
                    @include make-font-options($options: $item-options);
                }
            }
            @else if $value == "last" {
                & > *:last-child {
                    @include make-font-options($options: $item-options);
                }
            }
            @else {
                & > *:nth-child(#{$value}) {
                    @include make-font-options($options: $item-options);
                }
            }
        }
    }
}