@use "sass:map";

/*
    Foundations
*/
// * COLORS
$color-a: #0f0f0f;
$color-b: #fefefe;
$color-c: #f7f8f4;

/* Accent Color */
$color-d: #7ce55e;
$color-e: #2d9f66;
$color-f: #429ed6;
$color-g: #fdb335;
$color-h: #f76e4a;
$color-i: #f58dd7;

$color-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
  f: $color-f,
  g: $color-g,
  h: $color-h,
  i: $color-i,
);

$colorbg-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
);

$gradient-a: linear-gradient(
  90deg,
  map.get($color-options, f) 0%,
  map.get($color-options, d) 100%
);

// * TYPOGRAPHY
$type-a: "Arial", serif;

// * LAYOUT
$viewport-type: max-width;
$columns: 12;
$gutter-width: 32px;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// * Container
$g-container-fluid-max-width: 2000px;
$g-container-max-width: 1300px;
$g-container-width: 90%;
$g-container-width-mobile: 95%;

// * breakpoints
$all: 0;
$desktop: 1700px;
$laptop: 1570px;
$tabletl: 1300px;
$tabletm: 1024px;
$tablets: 810px;
$mobile: 580px;

$breakpoints-grid: (
  all: $all,
  desktop: $desktop,
  laptop: $laptop,
  tabletl: $tabletl,
  tabletm: $tabletm,
  tablets: $tablets,
  mobile: $mobile,
) !default;

/*
    End Foundations
*/

// * Measure
$measure: 0.5rem; /* 0.5rem = 8px */

// * border
$border-radius-a: $measure;

// * Time
$time-a: 0.1s; // * Micro-interactions such as button and toggle
$time-b: 0.3s; // * Expansion, system communication, toast
$time-c: 0.6s; // * Background dimming

// * Ease
$ease-standard-a: cubic-bezier(0.2, 0, 0.38, 0.9); // * productive
$ease-standard-b: cubic-bezier(0, 0, 0.3, 1); // * expresive
$ease-entrance-a: cubic-bezier(0, 0, 0.38, 0.9); // * productive
$ease-entrance-b: cubic-bezier(0.4, 0.14, 0.3, 1); // * expresive
$ease-exit-a: cubic-bezier(0.2, 0, 1, 0.9); // * productive
$ease-exit-b: cubic-bezier(0.4, 0.14, 1, 1); // * expresive

// * header
$headerDesktop: 141px;
$headerTabletm: 120px;
$headerMobile: 110px;
