@mixin utilities(
    $media-text-aligned-margin-x: $measure*5
){
    *.alignleft{
        float: left;
        margin-right: $media-text-aligned-margin-x;
    }
    *.alignright{
        float: right;
        margin-left: $media-text-aligned-margin-x;
    }
    *.aligncenter{
        margin-left: auto;
        margin-right: auto;
    }
}