@mixin block-table(
    $header-font,
    $body-rows-font,
    $caption-font,
    $table-margin-bottom: $measure*4,
    $header-cells-padding: $measure*2,
    $body-cells-padding: $measure $measure * 2,
    $caption-align: right,
    $caption-margin-top: $measure * 2,
    $header-font-weight: false,
    $body-rows-font-weight: false,
    $caption-font-weight: false,
){
    .wp-block-table{
        margin-bottom: $table-margin-bottom;
        table,
        table.wp-block-table {
            width: 100%;
            text-align: left;
            margin: 0;
            border: none;
            padding: 0px;
        }
        table thead,
        table tfoot,
        table.wp-block-table thead,
        table.wp-block-table tfoot {
            border: none;
            border: none;
        }
        table thead tr { //* first row
            th {
                padding: $header-cells-padding;
                @extend .f--font-#{$header-font} !optional;
                @if $header-font-weight {
                    font-weight: $header-font-weight;
                }
            }
        }
        table td,
        table.wp-block-table td { //* all rows
            @extend .f--font-#{$body-rows-font} !optional;
            @if $body-rows-font-weight {
                font-weight: $body-rows-font-weight;
            }
            padding: $body-cells-padding;
            margin: 0px;
        }
        figcaption{
            @extend .f--font-#{$caption-font} !optional;
            @if $caption-font-weight {
                font-weight: $caption-font-weight;
            }
            margin-top: $caption-margin-top;
            @if $caption-align == "left" {
                text-align: left;
            }
            @if $caption-align == "center" {
                text-align: center;
            }
            @if $caption-align == "right" {
                text-align: right;
            }
        }
    }
}
@mixin block-table-modifier(
    $header-border-width,
    $header-border-color,
    $body-rows-border-width,
    $body-rows-border-color,
    $header-background,
    $even-rows-background,
    $odd-rows-background,
    $header-text-color,
    $body-rows-text-color,
    $caption-color
){

    .wp-block-table{
        table thead tr {
            background: $header-background;
            th {
                color: $header-text-color;
                border: $header-border-width solid $header-border-color;
            }
        }
        table tbody tr {
            background: $even-rows-background;
            td{
                color: $body-rows-text-color;
            }
        }
        table tbody tr:nth-child(odd) {
            background: $odd-rows-background;
        }
        table td,
        table.wp-block-table td {
            border: $body-rows-border-width solid $body-rows-border-color;
        }
        figcaption{
            color: $caption-color;
        }
    }
}